{% extends 'base.html.twig' %}

{% block title %}Приглашение участника{% endblock %}

{% block content %}

    <h1>Приглашение участника</h1>

    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
        </div>

        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Справка</h3>
                <p>Приглашая участника, вы являетесь его поручителем!</p>
                <p>В целях соблюдения некоторой степени безопасности предлагается указывать нереальные фамилии.</p>
{#                <p>Важно иметь ввиду, что некоторые из этих данных будет затруднено поменять в последующем. Например, информация о курении будет доступна к смене только через длительное время.</p>#}
                <p><b>Важно!</b> Логин изменить будет невозможно.</p>
            </div>

            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Ссылка на приглашение</h3>
                <p>В один момент времени, можно получить только одну ссылку на приглашение участника. Действует она в течение 1 дня.</p>
                <a href="{{ path('invite_generate') }}" class="btn btn-success">Сгенерировать ссылку</a>
            </div>
        </div>
    </div>

{% endblock %}
