{% extends 'base.html.twig' %}

{% block title %}Регистрация участника{% endblock %}

{% block header '' %}
{% block footer '' %}

{% block content %}

    <h1>Регистрация участника</h1>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
{#            <h2>Здравствуйте</h2>#}
            <p>Вы получили ссылку-приглашение от вашего друга</p>
            <p>Первым делом, КРАЙНЕ важно, выполнить следующее действия:</p>
            <ol>
                <li>Придумать ваш логин и пароль с помощью которых вы будете заходить на сайт.</li>
                <li>Взять листик, блокнот, записную книжку или другой бумажный носитель, которвый вы гарантированно не потеряете</li>
                <li>Взять пишущий предмет, это может быть шариковая ручка (только не гелевая, потому что гелевые со временем выцветают), либо карандаш.</li>
                <li>Записать своими руками на подготовленную бумагу, подготовленным пишушщим предметом, придеманные ранее логин и пароль.</li>
            </ol>

            <a href="?accept" class="btn btn-outline-success" onclick="return confirm('Вы точно уверены, что придумали пароль и записали его в надёжно месте и не потеряете и не забудите где искать бумажку?')">
                Да, я всё сделал/а, как написано! Я гарантирую, что не потеряю логин и не забуду пароль.
            </a>
        </div>

{#
        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Справка</h3>
                <p>Ваш поручитель: {{ invite.user }}</p>
                <p>В целях соблюдения некоторой степени безопасности предлагается указывать нереальные фамилии.</p>
                <p>Длина пароля от 6 символов</p>
                <p><b>Важно!</b> Логин изменить будет невозможно.</p>
            </div>
#}
        </div>
    </div>

{% endblock %}
