{% extends 'base.html.twig' %}

{% block title %}Регистрация участника{% endblock %}

{% block header '' %}
{% block footer '' %}

{% block content %}

    <h1>Регистрация участника</h1>

    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
        </div>

        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Справка</h3>
                <p>Ваш поручитель: {{ invite.user }}</p>
                <p>В целях соблюдения некоторой степени безопасности предлагается указывать нереальные фамилии.</p>
                <p>Длина пароля от 6 символов</p>
                <p><b>Важно!</b> Логин изменить будет невозможно.</p>
            </div>

        </div>
    </div>

{% endblock %}
