<br>
<br>
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Ссылка на чат в Телеграм</h4>

    <p>Для обсуждений конкретных закупок в общем чате, предлагается создавать групповой чат, куда участники будут самостоятельно входить по ссылке.
        При создании группового чата придётся сразу добавить хотябы ещё одного участника самостоятельно.
        Если вам некого добавить, то можно добавить чат-бота системы <code>@ncca_bot</code>
    </p>

    <p>Видео инструкции -
        <a href="https://www.youtube.com/results?search_query=%D0%BA%D0%B0%D0%BA+%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D1%82%D1%8C+%D0%B3%D1%80%D1%83%D0%BF%D0%BF%D0%BE%D0%B9+%D1%87%D0%B0%D1%82+%D0%B2+%D1%82%D0%B5%D0%BB%D0%B5%D0%B3%D1%80%D0%B0%D0%BC" target="_blank">
            как создать чат в телеграм
        </a>
    </p>

    <p>После создания группового чата в Телеграме, нужно зайти в <b>Управление группой</b>, нажать на пункт <b>Тип группы</b> и там нажать на <b>Создать ссылку-приглашение</b></p>

    <p>Ссылка будет иметь вид: <code>https://t.me/joinchat/[какой-то-код]</code>, именно эту строку и нужно вставить в поле формы.</p>

    <p>Также для удобства, рекомендуется включить <b>История чата для новых участников</b></p>

</div>
