docker-compose.override.yml
/config/_local.*
/usr/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/components/
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
