<div class="alert alert-warning" role="alert">
    <h3 class="alert-heading">Справка</h3>
    <p><strong>Краткое описание</strong> - отображается в списке предложений</p>
    <p><strong>Описание</strong> - отображается при просмотре страницы предложения и добавляется к <i>краткому описанию</i></p>
    <p><strong>Цена</strong> - если указать 0, то будет выставлена <i>договорная</i></p>
    <p><strong>Количество</strong> - может быть только целым числом</p>
</div>
