{% extends 'base.html.twig' %}

{% block title %}Создание совместной закупки{% endblock %}

{% block content %}
    <h1>Создание совместной закупки</h1>

    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
        </div>

        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Справка</h3>

                <p>Первым делом указывается общая информация по совместной закупке, например условия закупки, транспортные расходы и т.д.</p>

                <p>Следующим шагом будет возможность добавлять позиции товаров, их кол-во и цены</p>
            </div>

            {% include '@JointPurchase/_create_tg_chat_help.html.twig' %}
        </div>
    </div>
{% endblock %}
