{% extends 'joint_purchase/edit.html.twig' %}

{% block edit_form_content %}
    <ul class="nav nav-pills">
{#                <li {% if show == 'active' %}class="active"{% endif %}><a href="{{ path('deals', {'tab': 'active'}) }}">Активные</a></li>#}
        <li><a href="{{ path('jp_edit', {'id': jp.id}) }}">Основные свойства</a></li>
        <li class="active"><a href="#">Товары</a></li>
    </ul>

    <div class="myform">
        <h3>Редактирование товара</h3>
        {{ form(form) }}

        <div class="clear"></div>
        <div style="padding-bottom: 15px;"></div>

    </div>
{% endblock %}
