<!DOCTYPE html>
<html>
<head>
    <title>{% block smart_blog_html_title %}Smart Blog Admin{% endblock smart_blog_html_title %}</title>
    <meta charset="UTF-8" />
</head>
<body>
<div>
    {% block smart_texter_content %}
    {% endblock smart_texter_content %}
</div>
</body>
</html>
