{% extends 'base.html.twig' %}

{% block title %}Платформа кооперации{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h3>Добро пожаловать</h3>
    <p>Система народного бартерного обмена и кооперации</p>
    <p>Некоторые аналоги:</p>
    <ol>
        <li><a href="https://is.gd/mqPdMl" target="_blank" rel="noopener">https://1barter.ru</a></li>
        <li><a href="https://is.gd/VZKdbz" target="_blank" rel="noopener">https://barterclub.ru</a></li>
        <li><a href="https://is.gd/nPK8vL" target="_blank" rel="noopener">http://100druzei.info/</a></li>
        <li><a href="https://is.gd/bHl29q" target="_blank" rel="noopener">http://www.bartersib.ru</a></li>
        <li><a href="https://is.gd/xOFY8y" target="_blank" rel="noopener">http://novosib.interbarter.ru</a></li>
        <li><a href="https://is.gd/JP3EBF" target="_blank" rel="noopener">https://vk.com/topic-178882229_39699364</a></li>
    </ol>
    <p>Статьи по теме:</p>
    <ol>
        <li><a href="https://is.gd/YSMm7c" target="_blank" rel="noopener">https://www.audit-it.ru/terms/agreements/barter.html</a></li>
        <li><a href="https://is.gd/V11vcU" target="_blank" rel="noopener">http://beprime.ru/barternaya-ekonomika</a></li>
    </ol>
</div>
{% endblock %}
