{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}

    <h1>Админка</h1>

    <a href="{{ path('admin_category') }}">Категории товаров</a>
    <br>
    <a href="{{ path('smart_texter_admin_index') }}">Тексты</a>
    <br>

{% endblock %}
