{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}

    <h1>Админка</h1>

    <a href="{{ path('admin_category') }}" class="btn btn-outline-primary">Категории товаров</a>
    <br>
    <a href="{{ path('smart_texter_admin_index') }}" class="btn btn-outline-primary">Тексты</a>
    <br>
    <a href="{{ path('admin_city') }}" class="btn btn-outline-primary">Города</a>
    <br>

{% endblock %}
