{% extends 'base.html.twig' %}

{% block title %}Добавить заявку на предложение{% endblock %}

{% block content %}
    <h1>Добавить заявку на предложение</h1>

    <div class="alert alert-danger" role="alert">
        Раздел в разработке, можно только добавить объявление, пока больше ничего сделать нельзя.
    </div>

    <p>@todo картинку</p>

    {{ form(form) }}

{% endblock %}
