{% extends 'base.html.twig' %}

{% block title %}Admin - Категории{% endblock %}

{% block content %}

    <h1>Управление категориями</h1>

    <div class="row">
        <div class="col-md-6">

            <ol>
                {% for category in categories %}
                    <li>
                        <a href="{{ path('admin_category_edit', {'id': category.id}) }}">{{ category }}</a> ({{ category.name }})
                    </li>
                {% endfor %}
            </ol>
        </div>

        <div class="col-md-6">
            <h3>Создать категорию</h3>

            {{ form(form) }}
        </div>
    </div>

{% endblock %}
