{% if jp.status == 0 and jp.products|length > 0 %}
    <p>После оформления закупки, нужно сменить статус с "черновика", на "открытый". Тогда участники смогут видеть закупку в общем списке и подавать заявки за товары.</p>

    <a href="{{ path('jp_edit', {'id': jp.id, 'status': 'open'}) }}" class="btn btn-success" onclick="return confirm('Вы уверены, что хотите Открыть сбор заявок?')">
        Открыть сбор заявок
    </a>
{% elseif jp.status == 1 %}
    <p>Когда будет набрано необходимое кол-во заявок, нужно "закрыть" закупку, тогда пользователи больше не смогут подавать новые заявки на товары и изменять старые.</p>

    <a href="" class="btn btn-info">Закрыть сбор заявок</a>
{% elseif jp.status == 2 %}
    <a href="" class="btn">Заверщить</a>
{% endif %}
