{% extends 'base.html.twig' %}

{% block title %}Создание совместной закупки{% endblock %}

{% block content %}
    <h1>Создание совместной закупки</h1>

    <div class="row">
        <div class="col-md-8">
            {{ form(form) }}
        </div>

        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Справка</h3>

                <p>Первым делом указывается общая информация по совместной закупке, например условия закупки, транспортные расходы и т.д.</p>

                <p>Следующим шагом будет возможность добавлять позиции товаров, их кол-во и цены</p>
            </div>

            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Ссылка на чат в Телеграм</h3>

                <p>Для обсуждений конкретных закупок в общем чате, предлагается создавать групповой чат, куда участники будут самостоятельно входить по ссылке.
                    При создании группового чата придётся сразу добавить хотябы ещё одного участника самостоятельно.
                    Если вам некого добавить, то можно добавить чат-бота системы <code>@ncca_bot</code>
                </p>

                <p>После создания группового чата в Телеграме, нужно зайти в <b>Управление группой</b>, нажать на пункт <b>Тип группы</b> и там нажать на <b>Создать ссылку-приглашение</b></p>

                <p>Ссылка будет иметь вид: <code>https://t.me/joinchat/[какой-то-код]</code>, именно эту строку и нужно вставить в поле формы.</p>

                <p>Также для удобства, рекомендуется включить <b>История чата для новых участников</b></p>
            </div>
        </div>
    </div>

{% endblock %}
