<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" path="/index.php" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="false">
                    <match url="^.*$" ignoreCase="false" />
                    <action type="Rewrite" url="http://localhost:8099/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="app.php" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <urlCompression doStaticCompression="false" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".less" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <caching>
            <profiles>
                <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".css" policy="DontCache" kernelCachePolicy="DontCache" />
                <add extension=".less" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
        <httpRedirect enabled="false" destination="http://localhost:8099" />
    </system.webServer>
</configuration>
