{% extends 'base.html.twig' %}

{% block title %}Мой профиль{% endblock %}

{% block content %}
    <h1>Мой профиль</h1>

    <div class="row">
        <div class="col-xl-2">
            {{ knp_menu_render('profile') }}
        </div>

        <div class="col">
            {% block profile_content '' %}
        </div>
    </div>
{% endblock %}
