{% extends 'user/_layout.html.twig' %}

{% block profile_content %}
    {% if form is defined %}
        <p>
            {{ app.user.username }}
            {% if app.user.isSmoking %}
                <span class="badge badge-danger" title="Курит"><i class="fas fa-smoking"></i></span>
            {% else %}
                <span class="badge badge-light" title="Не курит"><i class="fas fa-smoking-ban"></i></span>
            {% endif %}

            {% if app.user.isAlcohol %}
                <span class="badge badge-danger" title="Потребяет алкоголь"><i class="fas fa-wine-bottle"></i></span>
            {% else %}
                <span class="badge badge-light" title="Не потребяет алкоголь"><i class="fas fa-wine-bottle"></i></span>
            {% endif %}

            {% if app.user.isMeatConsumption %}
                <span class="badge badge-danger" title="Потребяет мясо"><i class="fas fa-drumstick-bite"></i></span>
            {% else %}
                <span class="badge badge-light" title="Не потребяет мясо"><i class="fas fa-drumstick-bite"></i></span>
            {% endif %}
        </p>

        {{ form(form) }}
    {% endif %}
{% endblock profile_content %}
